*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container{
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.d-flex{
  display: flex;
}

header .topbar {
  background-color: rgb(255, 104, 24);
  height: 80px;
  font-weight: 900;
}

header .topbar .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu ul{
  list-style: none;
  display: flex;
}

.menu ul li{
  margin: 0 5px;
}

.menu ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.container-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	width: 80%;
	max-width: 1000px;
	margin: 40px auto;
}

.product{
	position: relative;
	margin: 0 2px;
	cursor: pointer;
}

.product .discount{
	width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 50%;
  margin-top: -25px
}